
.hiddenQuoteContainer{
  opacity: 0.5;
  filter: blur(5px);
  transform: translateX(-200px);
  transition: all 0.5s ease-in
}
.animationQuoteContainer{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

.hiddenServiceTitle{
  opacity: 0.5;
  filter: blur(5px);
  transform: translateX(-200px);
  transition: all 0.5s ease-in;
  transition-delay: 100ms;
}
.animationServiceTitle{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

.hiddenServices{
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
  transform: translateZ(100px) scale(0.2);
}
.animationServices{
  filter: blur(0px);
  transform: translateZ(0px) scale(1);
}
.hiddenRight{
  opacity: 0.5;
  filter: blur(5px);
  transform: translateX(200px);
  transition: all 0.5s ease-in
}
.animationRight{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

.hiddenPictureContainer{
  opacity: 0.5;
  transition: all 0.7s;
  filter: blur(10px);
  transition-delay: 50ms;
}
.animationPictureContainer{
  opacity: 1;
  filter: blur(0px);
}


.hiddenBottomLeft{
  opacity: 0.5;
  filter: blur(5px);
  transform: translateX(-100px);
  transition: all 0.5s ease-in
}
.animationBottomLeft{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}
.hiddebBottomRight{
  opacity: 0.5;
  filter: blur(5px);
  transform: translateX(50px);
  transition: all 0.5s ease-in
}
.animationBottomRight{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

/* Services Delays */
.hiddenServices:nth-child(1){
  transition-delay: 100ms;
}
.hiddenServices:nth-child(2){
  transition-delay: 300ms;
}
.hiddenServices:nth-child(3){
  transition-delay: 500ms;
}

/* Right Delays */
.hiddenRight:nth-child(1){
  transition-delay: 100ms;
}
.hiddenRight:nth-child(2){
  transition-delay: 300ms;
}
.hiddenRight:nth-child(3){
  transition-delay: 500ms;
}
.hiddenRight:nth-child(4){
  transition-delay: 600ms;
}