.hiddenProjectContainer{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100px);
  transition: all 1s;
}
.animationProjectContainer{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}